li {
    list-style: none;
}
.table_object, th, td{
    border: 1px solid black;
    // border-collapse: separate;
}
th, td {
    min-width: 100px;
}
.right {
    text-align: right;
}
.so-am {
    color: red;
}
.list_city {
    margin-top: 20px;
}
.list_district {
    margin-top: 5px;
}

