<h1>Đây là component home!</h1>
<h1>Trái cây</h1>
<!-- <div *ngFor="let trai of traiCay; let i = index">
  <li>{{ i + 1 }}. {{ trai }}</li>
</div> -->
<ul class="list" *ngFor="let trai of traiCay; let i = index">
  <li>{{ i }}. {{ trai }}</li>
</ul>

<!-- Create table -->
<table class="table_object">
  <tr>
    <th>STT</th>
    <th>Tên</th>
    <th>Giá</th>
    <th>Đại hạ giá</th>
  </tr>
  <tr *ngFor="let trai of traiCay2; let i = index">
    <td>{{ i + 1}}</td>
    <td>{{ trai.ten | uppercase}}</td>
    <td class="right">
      <span [ngClass]="{'so-am' : trai.gia < 0}">{{ trai.gia | currency: "VND":"symbol":"1.2" }}</span>
      <!-- discount : khi giá nhỏ hơn 0 thì hiện màu đỏ -->
    </td>
    <td>
      <span>{{ trai.haGia | onSale | uppercase }}</span>
    </td>
  </tr>
</table>

<!-- Chọn tỉnh thành phố -->
Tỉnh / Thành phố :
<!-- (change) dùng để bắt sự kiện và thay đổi khi mỗi lần chọn khác nhau-->
<select class="list_city" name="city" id="city" (change)="changeCity($event)">
  <option *ngFor="let data of vietNamData" value="{{ data.city }}">
    {{ data.city }}
  </option>
</select>
<br>
Quận / Huyện :
<select class="list_district" name="district" id="district">
  <option *ngFor="let district of districts" value="{{ district }}">
    {{ district }}
  </option>
</select>
